[submodule "ir_follow_me"]
	path = ir_follow_me
	url = https://github.com/ChingHengWang/ir_follow_me.git
[submodule "fir_noisefilter"]
	path = fir_noisefilter
	url = https://github.com/ChingHengWang/fir_noisefilter.git
[submodule "kalmanfilter"]
	path = kalmanfilter
	url = https://github.com/ChingHengWang/kalmanfilter.git
[submodule "inih_pkg"]
	path = inih_pkg
	url = https://github.com/ChingHengWang/inih_pkg.git
